*.DS_Store
3rdpart_build/build-script/binutils/binutils-2.23.1
3rdpart_build/build-script/binutils/objects
3rdpart_build/build-script/binutils/install

3rdpart_build/build-script/cxxrt/libcxxrt
3rdpart_build/build-script/cxxrt/objects
3rdpart_build/build-script/cxxrt/install

3rdpart_build/build-script/cxx/libcxx
3rdpart_build/build-script/cxx/objects
3rdpart_build/build-script/cxx/install
~                                                                                                                                  

