*.DS_Store
3rdpart_build/build-script/binutils/binutils-2.23.*
3rdpart_build/build-script/binutils/objects
3rdpart_build/build-script/binutils/install

3rdpart_build/build-script/cxxrt/libcxxrt
3rdpart_build/build-script/cxxrt/objects
3rdpart_build/build-script/cxxrt/install

3rdpart_build/build-script/cxx/libcxx
3rdpart_build/build-script/cxx/objects
3rdpart_build/build-script/cxx/install

3rdpart_build/build-script/compiler-rt/compiler-rt
3rdpart_build/build-script/compiler-rt/objects
3rdpart_build/build-script/compiler-rt/install

3rdpart_build/build-script/cxxstub/objects
3rdpart_build/build-script/cxxstub/install

3rdpart_build/build-script/cxxabi/libcxxabi
3rdpart_build/build-script/cxxabi/objects
3rdpart_build/build-script/cxxabi/install
                                                                                                                                  
3rdpart_build/build-script/unwind/libunwind
3rdpart_build/build-script/unwind/objects
3rdpart_build/build-script/unwind/install

